@import url("//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("//fonts.googleapis.com/css?family=Poppins:400,500,400italic");

:root {
  --white: #ffffff;
  --chicago: #575757;
  --orange-red: #ff1c1c;
  --font-size-l2: 12px;
  --font-size-m2: 11px;
  --font-size-s2: 10px;
  --line-height-m2: 12px;
  --font-family-poppins: "Poppins", Helvetica;
  --dave-box-height: 125px;
  --dave-box-width: 415px;
}

#dave-settings * {
  box-sizing: border-box;
}


.dave-cb-avatar-contt {
    display:none;
    position:fixed;
    top:calc( 100vh - 400px);
    left:calc( 100vw - 430px);
    z-index: 1;
}
#dave-settings .l-31 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  min-width: 720px;
}

#dave-settings .hidden, #dave-settings .hidden * {
  pointer-events: none;
  visibility: hidden;
}

#dave-settings .overlap-group3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6257a4dfb9240570aa0f059c/releases/6257a4f480787dafebf8692d/img/mask-group-6@1x.png);
  background-size: 100% 100%;
  height: 1344px;
  position: relative;
  width: 720px;
}

#dave-settings .namaskar-welcome-t {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-style: italic;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: var(--line-height-m2);
  position: relative;
  top: 7px;
  white-space: normal;
  width: 365px;
  height: auto;
}

#dave-settings .group-255 {
  display: flex;
  height: 25px;
  justify-content: space-between;
  left: 160px;
  position: absolute;
  bottom: 10px;
  width: 170px;
}

#dave-settings .group-1 {
  align-items: flex-start;
  display: flex;
  height: 12.12px;
  margin-top: 7px;
  min-width: 41.61px;
  padding: 0 0px;
}

#dave-settings .path-847 {
  height: 12px;
  width: 7px;
}

#dave-settings .path-84 {
  height: 12px;
  margin-left: 10px;
  width: 7px;
}

#dave-settings .you-can-ask {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -5.5px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 112px;
}

#dave-settings .group-256 {
  background-color: var(--orange-red);
  border-radius: 5px;
  box-shadow: 0px 1px 4px #00000029;
  display: flex;
  height: 35px;
  left: 10px;
  position: absolute;
  bottom: 5px;
  width: 102px;
}

#dave-settings .component-5-22 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
  width: 82.24px;
}

#dave-settings .language {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s2);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -5.5px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 59px;
}

#dave-settings .path-854 {
  height: 8.98px;
  margin-right: 0;
  margin-top: 5.5px;
  width: 15.24px;
}

#dave-settings .scroll-group-20::-webkit-scrollbar {
  display: none;
  width: 0;
}

#dave-settings .scroll-group-20 {
    align-items: flex-start;
    display: flex;
    height: 37px;
    justify-content: flex-start;
    left: 10px;
    width: 395px;
    overflow-x: auto;
    position: absolute;
    bottom: 35px;
}

#dave-settings .poppins-medium-chicago-18px {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  min-width: 90px;
  white-space: nowrap;
  color: var(--chicago);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

#dave-settings .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 1px 4px #00000029;
  display: flex;
  height: 25px;
  justify-content: flex-start;
  min-width: 90px;
  padding: 2px 5px;
  margin-right: 5px;
}

#dave-settings .group-161 {
  align-items: flex-start;
  background-color: var(--orange-red);
  border-radius: 5px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 342px;
  min-width: 56px;
  padding: 10px 20.7px;
  position: absolute;
  bottom: 5px;
}

#dave-settings .mic_black_24dp {
  height: 20px;
  width: 15px;
  border: none;
  background-color: rgba(0,0,0,0);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6257a4dfb9240570aa0f059c/releases/6257a4f480787dafebf8692d/img/mic-black-24dp@1x.png);
}

#dave-settings .mic_recording_24dp {
  height: 20px;
  width: 15px;
  display: none;
  border: none;
  background-image: url(../recording.svg);
  background-color: rgba(0,0,0,0);
  background-size: contain;
  background-repeat: no-repeat;
}

#dave-settings .rectangle-230 {
  background-color: #413f41;
  border-radius: 5px;
  min-height: var(--dave-box-height);
  right: 350px;
  position: fixed;
  bottom: 5px;
  width: 414px;
  display: none;
  z-index: 1;
}

#dave-settings .volume_up_black_24dp {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6257a4dfb9240570aa0f059c/releases/6257a4f480787dafebf8692d/img/volume-up-black-24dp@1x.png);
  background-size: 100% 100%;
  height: 20px;
  left: 385px;
  position: absolute;
  top: 35px;
  width: 21px;
}

#dave-settings .volume_down_black_24dp {
  background-image: url(../mute.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 385px;
  position: absolute;
  top: 35px;
  width: 21px;
  display: none;
}

#dave-settings .mask-group-55 {
  height: 388px;
  left: 436px;
  position: absolute;
  top: 871px;
  width: 284px;
}

#dave-settings .path-882 {
  height: 18px;
  left: 384px;
  position: absolute;
  top: 10px;
  width: 18px;
}

