@font-face {
    font-family: TSTAR;
    src: url('./resources/fonts/TStarProMedium.woff');
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
}


body {
    display: block;
    margin: 0;
}




