.dave-route-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    margin: 50px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: #fff;
}

div#dave-routes {
    display: flex;
    justify-content: center;
    align-items: center;
}