<!--Please put this in the head-->
<head>
    <link rel="stylesheet" type="text/css" href="//localhost:8005/assets/css/7.0/dave-style.min.css">
    <link rel="stylesheet" type="text/css" href="//localhost:8005/assets/css/7.0/dave-help.min.css">
</head>

<!--Please put this at the bottom of the body.-->
<body>
    <link rel="stylesheet" type="text/css" href="/1.0/web.css">
	<script type="text/javascript" src='//localhost:8005/assets/js/streaming_speech/vendor/socket.io/socket.io.js'></script>
	<script type="text/javascript" src='//localhost:8005/assets/js/streaming_speech/vendor/socket.io/socket.stream.io.js'></script>
	<script type="text/javascript" src='//localhost:8005/assets/js/streaming_speech/vendor/recordRTC/RecordRTC.js'></script>
	<script type="text/javascript" src='//localhost:8005/assets/js/streaming_speech/vendor/vad/vad.js'></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/streaming_speech/streaming_speech.js"></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/jquery.js"></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/datetimepicker.js"></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/babylon.js"></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/babylonjs.loaders.min.js"></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/dave-avatar.js"></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/dave.js"></script>
	<script type="text/javascript" src="//localhost:8005/assets/js/new-chat.js"></script>
    <script type="text/javascript" src="/1.0/web.js"></script>
    <div class="dave-main-container" id="dave-settings"
        data-base-url="https://staging.iamdave.ai"
        data-conversation-id="deployment_virtual_store_english"
        data-session-model="session"
        data-enterprise-id="hero_moto_corp"
        data-signup-api-key="635c733e-c56b-3392-a442-b9f2c51508aa"
        data-interaction-user-id="user_id"
        data-avatar-id="hiro_pleasure-english-male"
        data-avatar-position-x='calc( 100vw - 400px )'
        data-avatar-position-y='calc( 100vh - 800px )'
        data-avatar-position-h='200px'
        data-dave-cbTitle='Hero Virtual Assistant' 
		data-speech-server="https://speech.iamdave.ai"
        data-dave-botIcon='/dave.svg' 
        data-dave-userIcon='/customer.svg' 
        data-dave-cbIcon='/dave_button.png' 
        data-dave-cross-img='/cross.svg'
        data-dave-min-img='/min.png'
        data-dave-max-img='/max.svg'
        data-dave-title-icon='/dave_icon.png'
        data-send-img='/send.png'
        data-default-session-data='{"deployment_scenario": "virtual_store", "location_dict": "{agent_info.ip}","browser": "{agent_info.browser}","os": "{agent_info.os}","device_type": "{agent_info.device}"}'
        data-default-user-data='{"person_type": "visitor", "source": "web-chatbot"}' 
        data-default-interaction-data='{"deployment_scenario": "virtual_store"}'
        data-interaction-origin='interaction_origin'
        data-session-origin='interaction_origin'
        data-cb-height-desktop='0px' 
        data-cb-height-mobile='0px' 
        data-cb-minLockHeight = '0px'
    >
    </div>
</body>
