body {
    max-width: 767px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Anek Gurmukhi', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.error-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.error-code {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #e74c3c;
}

.error-message {
    font-size: 1.5rem;
    color: #333;
}