[x-cloak] { display: none !important; }

body {
    max-width: 767px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(0, 0, 0);
    background-image: url("/assets/imgs/BG\ Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Anek Gurmukhi', sans-serif;
}

.logo-Holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    background-color: black;
    border-bottom: 1px solid silver;
    margin-bottom: 0px;
}

.logo-Holder img{
    width: 100px;
}

.logo-Holder button{
    background-color: white;
    color: #000;
    border: none;
    padding: 4px 20px;
    font-weight: 700;
}

.main_container{
    background-color: rgba(0, 0, 0, 0.641);
    padding: 0px;
    height: 95vh;
}

.heading{
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
}

.container .heading-2{
    color: chocolate;
    font-size: 14px;
    font-weight: 800;
}

.container .heading-3{
    color: silver;
    font-weight: 700;
    align-self: start;
}

.container .search-box-holder{
    position: relative;
    width: 100%;
    margin: 10px 20px;
}

.container .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.container .search-box input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
}

.container .search-box-holder .search-option {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background-color: rgb(37,37,37);
    color: chocolate;
    z-index: 1000;align-items: start;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.container .road-ways-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;
    color: white;
}

.container .road-ways-holder .road-way{
    position: relative;
    max-width: 350px;
    flex: 1 1 calc(50% - 10px);
    border-radius: 15px;
    overflow: hidden;
}

.container .road-ways-holder .road-way img {
    max-width: 100%;
    height: auto;
    display: block;
    
}

.container .road-ways-holder .road-way .text_holder{
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #000000c0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 4px;
}

.container .road-ways-holder .road-way .text_holder .location-name {
    width: 100%;
    font-size: 12px;
}

.container .road-ways-holder .road-way .text_holder .creator {
    width: 100%;
    font-size: 12px;
}

.road-way-dtl {
    position: relative;
    max-width: 767px;
}

.road-way-dtl img {
    width: 100%;
    /* height: 60vh; */
    display: block;
}

.road-way-dtl .text_holder{
    display: flex;
    flex-direction: column;
    background-color: #000000c0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
}

.road-way-dtl .text_holder .creator {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.road-way-dtl .text_holder .createdOn {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.bike-specification{
    color: chocolate;
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 30px;
}

.comentedBy {
    color: chocolate;
    margin-top: 20px;
    padding: 0px 30px;
}

.bottom-bar {
    width:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 20px 30px;
}

.bottom-bar button {
    border: none;
    background-color: rgb(37,37,37);
    color: chocolate;
    width: 85%;
    font-size: 16px;
    font-weight: 800;
    padding: 15px;
    border-radius: 10px;
}

.bottom-bar img {
    background-color: rgb(37,37,37);
    padding: 10px;
    border-radius: 10px;
    height: 30px;
    margin-left: 10px;
}

.loding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    height:85vh;
}

.loding .ldrHolder{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000c0;
    /* padding-bottom: 65px; */
    margin-bottom: 30px;
}

.loding .ldrHolder .spinner {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 4px 0px;
}

.loding .ldrHolder .notify{
    color: darkgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.loding .ldrHolder .progress-circle {
    position: absolute;
    top: 3%;
    left: 3%;
    display: block;
    z-index: 1000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    border: double 20px transparent;
    background-image: linear-gradient(black, black), linear-gradient(to right, rgb(242, 178, 133), rgb(212, 104, 27),rgb(94, 49, 16));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.loding .ldrHolder .percentage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: chocolate;
}

.loding .road-ways-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;
    color: white;
    /* margin-bottom: 230px; */
    padding-bottom: 350px;
}

.loding .road-ways-holder .road-way{
    position: relative;
    max-width: 350px;
    flex: 1 1 calc(50% - 10px);
    border-radius: 15px;
    overflow: hidden;
}

.loding .road-ways-holder .road-way img {
    max-width: 100%;
    height: auto;
    display: block;
}

.loding .road-ways-holder .road-way .text_holder{
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #000000c0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 4px;
}

.loding .road-ways-holder .road-way .text_holder .location-name {
    width: 100%;
    font-size: 12px;
}

.loding .road-ways-holder .road-way .text_holder .creator {
    width: 100%;
    font-size: 12px;
}

.loding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
}

.loding .spinner {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 4px 0px;
}

.loding .notify{
    color: darkgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.loding .progress-circle {
    position: absolute;
    top: 3%;
    left: 3%;
    display: block;
    z-index: 1000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    border: double 20px transparent;
    background-image: linear-gradient(black, black), linear-gradient(to right, rgb(242, 178, 133), rgb(212, 104, 27),rgb(94, 49, 16));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.loding .percentage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: chocolate;
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
}

.container1 .custBtn{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: white;
    color: #000;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}

.container1 .downloadWindow{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid chocolate;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    background-color: #000;
}

.container1 .downloadWindow .model{
    font-size: 18px;
    font-weight: 800;
    color: darkgray;
    margin-top: 20px;
}

.container1 .downloadWindow .location{
    font-size: 16px;
    font-weight: 800;
    color: chocolate;
}

.container1 .downloadWindow .sugestion{
    font-size: 12px;
    font-weight: 800;
    color: darkgray;
    margin-top: 15px;
}

.imgSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.imgSlider .slider {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border: 1.5px solid chocolate;
    border-radius: 10px;
    overflow: hidden;
}

.slideBackground {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.slideBackground .backgroundImage {
    max-width: 100%;
    height: auto;
}

.left {
    left: -55%;
}

.right {
    right: -55%;
}


.slide {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slide .mainImage {
    max-width: 100%;
    height: auto;
    /* border-radius: 10px; */
}

.navButton {
    cursor: pointer;
    width: 30px;
    background-color: chocolate;
    z-index: 10;
    border-radius: 50%;
}

.imgSlider .slider .slide {
    transition: transform 0.3s ease-in-out;
}

.imgSlider .slider .likeBtn {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.imgSlider .slider .likeBtn img {
    width: 100%;
}

.container1 .commentHolder {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 74%;
}

.container1 .commentHolder input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    word-wrap: break-word;
}

.container1 .commentHolder img{
    width: 20px;
    height: 20px;
}

.downloadBtnHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 0px 30px;
    width: 80%;
}

.container1 .downloadBtnHolder button {
    border: none;
    background-color: rgb(37,37,37);
    color: chocolate;
    width: 100%;
    font-size: 14px;
    font-weight: 800;
    padding: 15px;
    border-radius: 10px;
}

.container1 .downloadBtnHolder img {
    background-color: rgb(37,37,37);
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    margin-left: 10px;
}

.container1 .homeBtn {
    background-color: rgb(37,37,37);
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    margin-top: 10px;
    align-self: flex-end;
}

.report{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 10px;
    color: darkgray;
}

.report .btnReport{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.report .btnReport img{
    width: 25px;
    margin-left: 5px;
}

.stageProgress {
    margin-top: 15px;
    text-align: center;
    background-color: #000000;
    padding: 20px;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-container::before {
    content: "";
    background: black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
}

.progress {
    background: chocolate;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
    /* width: 100%; */
}

.circle {
    background: rgb(0, 0, 0);
    color: chocolate;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid chocolate;
    transition: .4s ease;
    box-shadow: 1px 1px 8px chocolate;
}

.circle.active {
    background: chocolate;
    color: black;
}

.txtNote{
    margin-top: 8px ;
    font-style: italic;
    color: darkgray;
}

.swal2-popup {
    background-color: rgb(0, 0, 0) !important;
    height: max-content;
}

.swal2-icon {
    color: chocolate;
}

.custom-t-class{
    color: silver !important;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    margin-top: 45px;
}

.custom-t-class2{
    color: #AEAEAE;
    font-size: 16px;
    font-family: 1903 Sans;
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word
}

.swal2-content {
    color: silver !important;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
}

.swal2-close {
    top: 5px !important;
    right: 5px !important;
    color: black !important;
    background-color: chocolate !important;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 800;
}

.swal2-actions .custom-b-class {
    background-color: rgb(31, 31, 31) !important;
    color: chocolate !important;
    font-size: 18px;
    font-weight: 800;
    width: 96%;
    margin-top: 50px;
    border-radius: 10px;
}

.swal2-actions .custom-b-class1 {
    background-color: rgb(31, 31, 31) !important;
    color: chocolate !important;
    font-size: 18px;
    font-weight: 800;
    width: 96%;
    border-radius: 10px;
}

.swal2-actions .custom-b-class2 {
    background-color: rgb(31, 31, 31) !important;
    color: chocolate !important;
    font-size: 14px;
    font-weight: 800;
    width: 70%;
    border-radius: 10px;
}

.custom-image-class {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: black;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.input-container img {
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 0px 6px;
    right: 0px;
}

.input-container input[type="text"]::placeholder {
    font-size: 12px;
}

.input-container input[type="text"].anim::placeholder {
    animation: movePlaceholder 5s infinite;
}

.input-container input[type="text"] {
    padding-right: 30px;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background-color: white;
    color: rgb(101, 101, 101);
    font-size: 14px;
}

.badge-parent {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    width: 200px;
}

.logo {
    width: auto;
    height: 35px;
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.location-text {
    margin: 0;
    text-align: right;
    letter-spacing: 0.1em;
    font-family: "TacticSansExtExd-BldIt";
    overflow-wrap: break-word;
    text-transform: uppercase;
}

.createdBy {
    font-family: "TacticSansExtExd-Med";
    color: white;
    margin-top: 15px;
    width: 100%;
    font-size: 12px;
    text-align: right;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0.15em;
}

.user-name {
    margin: 0;
    font-family: "TacticSansExtExd-BldIt";
    color: #e35205;
    font-weight: 700;
    max-width: 190px;
    overflow-wrap: break-word;
    text-transform: uppercase;
}


@keyframes movePlaceholder {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}