@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

img#dave-web-bg {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

div#dave-web-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

div#dave-web-upcoming-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 50px;
    min-width: 800px;
    max-width: 1200px;
    border: 1px solid rgba(29, 29, 27, 1);
}

span#dave-web-upcoming-message {
    font-size: 24px;
    color: rgba(227, 13, 24, 1);
}

div#dave-web-imagined-container {
    height: 80vh;
    width: 80vw;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5%;
}

div#dave-web {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

div#dave-web-imagined-img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 8px;
    border: 2px solid rgba(227, 13, 24, 1);
}

img#dave-web-imagined-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span#dave-web-imagined-name {
    font-family: Chakra Petch Medium;
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

div#dave-web-imagined-name-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    box-shadow: 0px 0px 4px 0px rgba(227, 13, 24, 1);
}

img#dave-web-imagined-name-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

div#dave-web-imagined-text-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 1100px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    top: 98%;
    box-shadow: 0px 0px 4px 0px rgba(227, 13, 24, 1);
}

div#dave-web-upcoming-loader-container {
    position: absolute;
    top: 103%;
    right: 0;
}

span#dave-web-imagined-text {
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

img.image {
    height: 75vh;
}


.slide.active{
    animation: fadeIn 2s;
}