div#dave-imagination-name-container {
    /* border: 2px solid rgba(0, 200, 255, 1); */
    height: 60px;
    width: 25%;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgba(227, 13, 24, 1);
    background: linear-gradient(0deg, #000000, #000000),linear-gradient(0deg, #00C8FF, #00C8FF);
    margin-bottom: 10px;
}
.swal2-image{
    height: 150px;
}

div#dave-imagination-field-container {
    box-shadow: 0px 0px 4px 0px rgba(227, 13, 24, 1);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(0deg, #000000, #000000),linear-gradient(0deg, #00C8FF, #00C8FF);
    flex-wrap: wrap;
}

div#dave-imagination-container {
    display: flex;
    flex-direction: column;
    width: 88%;
    position: relative;
    top: 6%;
    height: fit-content;
    font-style: normal;
}

div#dave-tab-imagination {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

img#dave-idea-name-bg {
    width: 97%;
    height: 90%;
    position: absolute;
}


img#dave-idea-fields-bg {
    height: 95%;
    position: absolute;
    width: 99%;
}

span#dave-imagination-name {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    line-height: 80px;
}

span.dave-imagination-text {
    color: rgba(255, 255, 255, 1);
    text-align: left;
    width: 90%;
    font-size: 40px;
    line-height: 80px;
}

.dave-imagination-field {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    height: 50px;
    text-align: center;
    width: 250px;
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(0deg, rgba(227, 13, 24, 0.5), rgba(227, 13, 24, 0.5));
    bottom: 10px;
    font-size: 1.8rem;
    margin : 0px 10px;
    outline: unset;
    padding: 15px 10px;
}

input.dave-imagination-field::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}

div#dave-fields-suggestion-container {
    padding: 10px 25px;
    border: 2px solid rgba(29, 29, 27, 1);
    box-shadow: 0px 0px 4px 0px rgba(227, 13, 24, 1);
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: rgba(29, 29, 27, 1);
    font-size: 25px;
    max-height: 50vh;
    position: relative;
}
div#dave-field-suggestion-list-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 45vh;
}

.dave-suggestion-button {
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    margin: 10px 10px 10px 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(227, 13, 24, 1);
    border: 1px solid rgba(29, 29, 27, 1);
    font-size: 25px;
}

div#dave-imagination-field-submit-container {
    display: flex;
    position: absolute;
    right: 0;
    top: -50px;
    width: 240px;
}

img#dave-imagination-field-submit {
    width: fit-content;
    height: 100%;
}