#dave-tab-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-text {
    border: 2px solid rgba(0, 200, 255, 1)
}

div#dave-tab-home-idea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
}

div#dave-tab-home {
    height: 100vh;
    width: 100vw;
}

div#dave-idea-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 329px;
    padding: 4px;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 4px 0px rgba(227, 13, 24, 1);
}

img#dave-idea-input-bg {
    position: absolute;
    width: 98%;
    height: 90%;
}

div#dave-idea-title {
    margin-bottom: 8vh;
    font-family: Dubai;
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(227, 13, 24, 1);

}

input#dave-idea-input-box {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none !important;
    text-align: center;
    z-index: 1;
    outline: unset;
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
}
.dave-form-group{
    text-align: center;
}

input#dave-idea-input-box::placeholder {
    color: rgba(227, 13, 24, 1);
}

div#dave-idea-submit {
    /* display: flex; */
    height: 60px;
    /* position: absolute; */
    right: 4%;
    margin-top: 10px;
}
div#dave-idea-submit img{
    height: 100%;
}

#dave-tab-home-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#dave-idea-text {
    color: rgba(29, 29, 27, 1);
    font-size: 32px;
    font-style: italic;
    line-height: 80px;
    text-align: center;
}

div#dave-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#dave-hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}